
*{
    box-sizing: border-box;
}


html {
    font-family: 'Ubuntu', sans-serif !important; 
  
    /* Use a 16px base font size. */
    font-size: 1em !important; /* 3 */
  
    -ms-text-size-adjust: 100%;     /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
  
    overflow-y: scroll;
    margin: 0;
}

body {
    font-family: 'Ubuntu', sans-serif !important; 
    font-size: 0.7em !important; /* 3 */
    padding: 1.5rem;
}

.col-thin-2 { width: 2%; }
.col-thin-4 { width: 4%; }
.col-thin-6 { width: 6%; }
.col-thin-8 { width: 8%; }
.col-thin-10 { width: 10%; }
.col-thin-12 { width: 12%; }
.col-thin-14 { width: 14%; }
.col-thin-16 { width: 16%; }
.col-thin-18 { width: 18%; }
.col-thin-20 { width: 20%; }

.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
  
.container-header-top {
    background-color: rgba(163, 147, 130, .1);
    padding: 10px 10px 10px 10px;  
    border-radius: 4px;  
}

.formtitle {    
    border-bottom: 1px solid #CCC;      
    margin-bottom: 12px; 
    width: 100%;    
    font-size: 1.2em;
    color: #005eb8;
}

.status {
    width: 20px;
}

.error {
    color: #f00;
    display: inline;
    font-size: 2em;
}

.error-message {
    color: #f00;
    display: inline;
    font-size: 1em;
}

.success {
    color: rgb(11, 160, 68);
    display: inline;
    font-size: 1.6em;
}

.success-message {
    color: rgb(11, 160, 68);
    height: 32px;
    font-size: 1.4em;
}

.edit {
    color: #005eb8;
    display: inline;
    cursor: pointer;
    padding: 0px 0px !important;
    font-size: 1.8em !important;
}

.button {
    cursor: pointer;
    color: #fff;
    display: inline-block;
    height: 24px !important;
    font-size: 1em !important;
    line-height: 1.42857143;
    border: 3px solid #0281f8;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 0px 10px 0px 10px;
    text-decoration: none;
    background: #0385ff;
    text-align: left;
    margin-top: 1.45rem;
}

.form-control {
    display: block;
    width: 100%;
    height: 24px !important;
    padding: 0px 0px !important;
    font-size: 1em !important;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 1px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#footer {
    clear: both;
    position: relative;
    z-index: 10;    
    margin-top: 2em;
    border-top: 1px solid rgba(163, 147, 130, .1);
    border-bottom: 1px solid rgba(163, 147, 130, .1);
}

