
*{
    box-sizing: border-box;
}


html {
    font-family: 'Ubuntu', sans-serif !important; 
  
    /* Use a 16px base font size. */
    font-size: 1em !important; /* 3 */
  
    -ms-text-size-adjust: 100%;     /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
  
    overflow-y: scroll;
    margin: 0;
}

body {
    font-family: 'Ubuntu', sans-serif !important; 
    font-size: 0.7em !important; /* 3 */
    padding: 1.5rem;
}

.container-header-top {
    background-color: rgba(163, 147, 130, .1);
    padding: 10px 10px 10px 10px;  
    border-radius: 4px;  
}

#footer {
    clear: both;
    position: relative;
    z-index: 10;    
    margin-top: 2em;
    border-top: 1px solid rgba(163, 147, 130, .1);
    border-bottom: 1px solid rgba(163, 147, 130, .1);
}

